# CMake Directories
build
bin/*
# Images
data/pong_*
data/game_*
data/windows*
# Hardware Directories
vivado_hls.log
vitis_hls.log
hls_prj/
vivado/
vitis_include/
./token

# PYNQ
**/.ipynb_checkpoints
**/sds_trace_data.dat